# Ignorar arquivos e pastas do sistema
.vs/
.idea/
.vscode/
*.log
*.bak
*.tmp

# Ignorar arquivos do sistema Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Ignorar pastas de configuração de IDEs
.vscode/
.gradle/
.android/
.sublime-text-3/
